<form action="" method="">
    <div class="search-course">
        <label for="course">Please enter a course you would like to search: </label>
        <input type="text" id="course">
    </div>
    <div class="select-school">
        <label for="school">Please select your University: </label>
        <select name="school" id="school"></select>
    </div>

</form>
