<%- include('../partials/head'); -%>
<%- include('../partials/search.ejs') -%>
<div class="call-to-action">
    <div class="call-to-action-text">
        <h2 class="call-to-action-heading">Don't let courses weight you down</h2>
        <p class="call-to-action-paragraph">School is hard. Use OfCourse to find which classes are the most difficult, so that you can balance your schedule and enjoy your semester. </p>
    </div>
    <img src="" alt="" class="call-to-action-img">
</div>